project requirements

1 django 				          - pip install django
2 django rest framework   - pip install djangorestframework
3 django rest simple jwt  - pip install djangorestframework-simplejwt
4 django cors headers 	  - pip install django-cors-headers
